@import "../../../styles/variables.scss";

.container {
	opacity: 0.6;
	box-sizing: border-box;
	border-radius: 3px;
	max-width: 250px;
	border: 1.5px solid $grey-color;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 10px;

	&.fluid {
		width: 100%;
		max-width: 100%;
	}

	&.error {
		opacity: 1;
		border-color: $error-color;
	}

	&.focused {
		opacity: 1;
		border-color: $blue-color;
	}

	.wrapper {
		padding: 7px 0 7px 10px;
		flex-grow: 1;
		cursor: text;

		.field {
			border: none !important;
			outline: none !important;
			background-color: transparent;
			width: 100%;
		}
	}

	.icon {
		opacity: 0.7;

		&.link:hover {
			opacity: 0.9;
			cursor: pointer;
		}

		&.error {
			color: $error-color;
		}
	}
}
