$body-bg: #fafafa;
$error-color: #b02b0e;
$black-color: #212121;
$grey-color: #909090;
$blue-color: #3388ff;
$primary-color: #10b57e;
$secondary-color: #878787;
$light-grey-color: #dadada;
$modal-bg: #00000088;
$inverted-modal-bg: #fafafa88;
$header-height: 70px;
