.container {
	display: flex;
	justify-content: center;
	align-items: center;

	.arrows {
		margin: 0 20px;
		display: flex;
		flex-direction: column;

		.arrow {
			opacity: 0.7;
			width: 60px;
			height: auto;
			cursor: pointer;

			&:first-child {
				margin-bottom: 10px;
			}

			&:hover {
				opacity: 1;
			}

			&.disabled {
				opacity: 0.2;
				cursor: default;
			}
		}
	}
}
