.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	.controls {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		.buttons {
			display: flex;

			button:not(button:last-child) {
				margin-right: 10px;
			}
		}

		.headers {
			display: flex;

			h3 {
				margin: 0;

				&:not(h3:last-child) {
					margin-right: 20px;
				}
			}

			.myTurn {
				color: green;
			}
		}
	}

	.mainWrapper {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;

		& > * {
			height: 100%;
		}

		.main {
			margin-left: 10px;
			width: calc(100% - 30vh);
		}

		.opponents {
			$opponentD: calc(30vh - 30px);
			width: $opponentD;
			display: flex;
			flex-direction: column;
			align-items: center;

			.opponent {
				width: $opponentD;
				height: $opponentD;
				box-sizing: border-box;
				border: 1px solid black;
				margin-top: 5px;
			}
		}

		@media screen and (max-width: 900px) {
			.main {
				width: calc(100% - 20vh);
			}

			.opponents {
				$opponentD: calc(20vh - 30px);
				width: $opponentD;

				.opponent {
					width: $opponentD;
					height: $opponentD;
				}
			}
		}

		@media screen and (max-width: 500px) {
			flex-direction: column;

			.main {
				width: 100%;
			}

			.opponents {
				width: 100%;
				flex-flow: row wrap;
				margin-top: 20px;

				.opponent {
					margin-left: 5px;
				}
			}
		}
	}
}

.gameLayout {
	display: flex;
	flex-direction: column;
	justify-content: center;

	& > .row {
		width: 100%;
		display: flex;
		justify-content: center;

		.cell {
			border-radius: 50%;

			&:not(.cell:last-child) {
				margin-right: 2%;
			}
		}
	}
}
